.rowFooter{
    background-color: #ffc107;
    height: 100%;
    display: flex;
    justify-content: center;
}
.iconsCols{
    border-style: solid;
    border-width: 0 0.5em 0 0;
    height: 100%;
    width: 100%;
}
.iconsMaterialUIGroup{
    position: relative;
    left: 44%;
}
.iconsMaterialUIMail{
    position: relative;
    left: 43.6%;
}
.iconsMaterialUICV{
    position: relative;
    left: 43.6%;
}

.iconParagraph{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.6em;
}